{% extends 'partials/base.html'%}
{% load static %}
{% block content %}

<body>
    <header>
        <div class="navigation">
            <div class="ham-btn" onclick="showNav()">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="links">
                {% if is_authenticated %}
                <div class="link">
                    <a href="#" style="color: #FDBC00;">Welcome, {{ username }}!</a>
                </div>
                {% endif %}
                <div class="link">
                    <a href="{% url 'core:index' %}">Home</a>
                </div>
                <div class="link">
                    <a href="{% url 'core:product' %}">Property</a>
                </div>
                <div class="link">
                    <a href="{% url 'userauths:sign-up' %}">Login</a>
                </div>
                {% if  is_authenticated %}
                <div class="link">
                    <a href="{% url 'userauths:sign-out' %}">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="banner-logo-home">
        <a href="#"><img src="{% static 'img/Group 3475.png' %}" alt=""></a>
    </div>
    <div class="product-banner home">
        <img src="{% static 'img/Group 3601.jpg' %}" alt="">
        <div class="banner-logo">
            <h1>SENTHAMIZ REAL ESTATE</h1>
            <P>DTCP Approved lands and Properties</P>
        </div>
    </div>

    <section id="about-us">
        <div class="about">
            <h3>ABOUT US</h3>
            <p>
                Welcome to our esteemed real estate and property solutions firm, your trusted partner in navigating the dynamic real estate market. Specializing in a diverse portfolio of properties including DTCP approved land, residential houses, lush gardens, and spacious factory spaces, we offer comprehensive solutions tailored to meet your unique requirements. With a strategic focus on the bustling districts of Chennai, Chengalpattu, Kanchipuram, and Thiruvallur, our dedicated team brings unparalleled expertise and local insights to every transaction.

                In addition to facilitating seamless buying and selling processes, we pride ourselves on our ability to arrange flexible and competitive bank loans, ensuring that financing is never a barrier to your dream investment. As registered members of the Real Estate Regulatory Authority (RERA), we adhere to stringent industry standards, prioritizing transparency, integrity, and client satisfaction in all our dealings.
            </p>
        </div>
        <div class="animation">
            <div class="lottie">
                <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
                <dotlottie-player src="https://lottie.host/5ee720ff-3b34-4fbb-982c-bf88f9c3134c/XAQCe2WVbN.json" background="transparent" speed="1" direction="1" playMode="normal" loop autoplay id="lottie-animation"></dotlottie-player>
            </div>
            <div class="lottie-content">
                <p>
                    Moreover, our commitment to excellence extends beyond transactions to include ongoing support and guidance even after the deal is closed. Whether you're a seasoned investor or a first-time buyer, trust us to provide personalized attention, expert advice, and unparalleled customer service every step of the way. Experience the difference with our firm as we transform your real estate aspirations into reality with professionalism, diligence, and unwavering dedication.
                </p>
            </div>
        </div>
    </section>
    
    <section>
       
        <div class="category">
            <h1 style="text-align: center;">CATEGORY</h1>
            <div class="card-container">
                {% for c in categories %}
            <div class="cat-img">
                <a href="{% url 'core:product_by_category' c.id %}">
                    <img src="{{ c.image.url }}" alt="Denim Jeans" style="width:100%">
                    <p>{{ c.title }}</p>
                </a>
            </div>
            {% endfor %}
                
            </div>
            <div class="card-show-button" id="card-show-button">
                <a href="{% url 'core:product' %}">
                    <div class="card-content-show card-home-show">
                        <h2 style="text-align: center;">Show All</h2>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section>
        <div class="category">
            <h1 style="text-align: center;">FEATURED</h1>
            <div class="card-container">
                {% for p in products %}
                    <a href="{% url 'core:product' %}">
                    <div class="card" id="card">
                        <img src="{{ p.image.url }}" alt="Product Image" style="width:100%">
                        <div class="card-content card-home">
                            <h1 style="text-align: center;">{{ p.title }}</h1>

                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section >
        <h1 class="testimonial-header">Testimonial</h1>
        <div class="custom-testimonials-section">
           <input type="radio" name="custom-slider" title="slide1" checked="checked" class="custom-slider__nav"/>
           <input type="radio" name="custom-slider" title="slide2" class="custom-slider__nav"/>
           <input type="radio" name="custom-slider" title="slide3" class="custom-slider__nav"/>
           <input type="radio" name="custom-slider" title="slide4" class="custom-slider__nav"/>
           <input type="radio" name="custom-slider" title="slide5" class="custom-slider__nav"/>
         <div class="custom-slider__inner">
           <div class="custom-slider__contents">
             <quote>&rdquo;</quote>
             <p class="custom-slider__txt">Senthamiz Real Estate made the process of buying land seamless and stress-free. Their team was incredibly helpful and knowledgeable.</p>
             <h2 class="custom-slider__caption">Arun | Happy Buyer</h2>
           </div>
           <div class="custom-slider__contents">
             <quote>&rdquo;</quote>
             <p class="custom-slider__txt">I had a fantastic experience with Senthamiz Real Estate. They offered great customer service and helped me find the perfect plot of land for my dream home.</p>
             <h2 class="custom-slider__caption">Priya | New Landowner</h2>
           </div>
           <div class="custom-slider__contents">
             <quote>&rdquo;</quote>
             <p class="custom-slider__txt">Senthamiz Real Estate went above and beyond to ensure I was satisfied with my purchase. Their attention to detail and customer care are unmatched.</p>
             <h2 class="custom-slider__caption">Karthik | Satisfied Client</h2>
           </div>
           <div class="custom-slider__contents">
             <quote>&rdquo;</quote>
             <p class="custom-slider__txt">The team at Senthamiz Real Estate is professional, friendly, and extremely efficient. I highly recommend them to anyone looking to buy land.</p>
             <h2 class="custom-slider__caption">Sangeetha | Happy Customer</h2>
           </div>
           <div class="custom-slider__contents">
             <quote>&rdquo;</quote>
             <p class="custom-slider__txt">From start to finish, Senthamiz Real Estate provided exceptional service. They made buying land a hassle-free experience.</p>
             <h2 class="custom-slider__caption">Rajesh | Delighted Buyer</h2>
           </div>
         </div>
       </div>
       
       
     </section>
</body>
</html>

{% endblock content %}
